@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans&family=Roboto&family=Merriweather+Sans&family=Rubik&family=Quicksand&family=Cabin&family=Open+Sans&family=Lato&family=Montserrat&family=Source+Sans+Pro&family=Roboto+Condensed&family=Poppins&family=Ubuntu&family=Oxygen&family=Josefin+Sans&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


input[type="range"]::range-track {
}

input[type="range"]::range-thumb {
}


input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}


/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: rgb(47, 54, 61);
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: rgb(47, 54, 61);
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: rgb(47, 54, 61);
  cursor: pointer;
}



input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: rgb(209, 213, 218);
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  background: rgb(209, 213, 218);
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  background: rgb(209, 213, 218);
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}


.grid-cols-30-1fr-min {
  grid-template-columns: 30% 1fr min-content;
}